[Desktop Entry]
Categories=Utility
Comment[tr_TR]=Sürücüleri yüklemenizde yardımcı olur inşAllah
Comment=Sürücüleri yüklemenizde yardımcı olur inşAllah
Encoding=UTF-8
Exec=driver-setting
GenericName[tr_TR]=Sürücü Ayarı
GenericName=Driver Setting
Icon=psy.png
MimeType=
Name[tr_TR]=Sürücü Ayarı
Name=Driver Setting
Path=
StartupNotify=false
Terminal=false
Type=Application
X-KDE-SubstituteUID=false