Source: Pardus-Debian_Sürücü_Ayarları
Section: python
Priority: optional
Maintainer: Muhammet Halak <halakmuhammet145@gmail.com>
Build-Depends: debhelper (>= 10), python3, python3-pip
Standards-Version: 4.5.0
Homepage: https://github.com/halak0013/Pardus-Debain-driver

Package: Pardus_Debian_Sürücü_Ayarları
Architecture: all
Depends: python3, python3-pip
Description: Bu uygulama şu anlık gerekli nvidia sürücülerini
 Yükleyip işlemci ve nvidia kart arasında geçişi sağlar
